<%  calculation_price @product %>
<div class="content" style="margin-top:70px;">
<div class="thumb-box3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row">
          <!-- Wrapper for slides -->
          <div class="carousel-inner banner-slider">
            <div class="item active">
              <%= render :partial => 'image' %>
            </div>
            <!-- <div class="product-discount-price discount-price">
              15% off
              </div> -->
          </div>
          <!-- <div class="cartshare-btn" style="right:auto;top:0px;">
            <button class="align-left"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
            <button class="align-left"><i class="fa fa-heart" aria-hidden="true"></i>
            </button>
            <button class="align-right"><i class="fa fa-share-alt" aria-hidden="true"></i>
            </button>
            </div> -->
        </div>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-12">
        <div class="row">
          <div id="product-carousel" class="carousel slide" data-ride="carousel">
            <div class="item-title-desc">
              <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 10px;">
                <p class="item-title"><b  style="color: #EA4545;"><%#= @seller.name %></b></p>
                <p class="sold_by">Sold by : <span class="item-subtitle" style="color: blue;"><%#= @seller.name %></span> </p>
              </div>
            </div>
            <div class="clearfix"></div>
            <section class="product-info" style="padding:0px 10px 10px 10px;">
              <!-- <p style="font-size: 13px;">Get a great value dominoz offer only on slected store.Coupons valid on selected store<br />
                Value for money and have a fun. Get the deal and have a Fun! </p> -->
              <div class="price-section" style="border-top:1px solid rgba(235, 235, 235, 0.9);border-bottom:1px solid rgba(235, 235, 235, 0.9);">
                <!-- <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <p class="b-txt">Now</p>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                      <p style="color: green;">11,000/=</p>
                  </div>                                    
                  </div> -->
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="pricing-detail">Pricing details:</p>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <p style="line-height: 20px;margin-bottom:5px;">
                      <small class="b-txt">Before</small> 
                      <s><span class="money"><b><%= @product.price%>/=</b></span></s>
                    </p>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <p style="line-height: 20px;margin-bottom:5px;">
                      <small class="b-txt">Now</small> 
                      <span class="money"><b style="color: green;"><%= @sale_price %>/=</b></span>
                    </p>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <p style="line-height: 20px;margin-bottom:5px;">
                      <small class="b-txt">Savings</small>
                      <span class="money" style="color: orange;"><b><%= @save.to_i%>/=</b></span>
                    </p>
                    <p style="line-height: 20px;margin-bottom:5px;">
                      <small class="b-txt">Gift Value</small>  
                      <span class="money"><b style="color: red;"><%= @product.giveaway_value.to_i %>/=</b></span>    
                    </p>
                  </div>
                </div>
              </div>
              <div class="offer-section" style="border-top:1px solid rgba(235, 235, 235, 0.9);border-bottom:1px solid rgba(235, 235, 235, 0.9);">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="offer-detail">Offer details:</p>
                    <p style="line-height: 14px;">
                      Runs from: <%= @product.available_on.strftime("%d-%m-%Y")%>
                    </p>
                    <p style="line-height: 14px;">
                      Ends on: <%= @product.discontinue_on.strftime("%d-%m-%Y")%>
                    </p>
                  </div>
                </div>
              </div>
              <div class="seller-section" style="border-top:1px solid rgba(235, 235, 235, 0.9);border-bottom:1px solid rgba(235, 235, 235, 0.9);">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="seller-title">Seller branches:</p>
                    <div class="seller-list">
                      <ul>
                        <% if @store_locations.present? %>
                          <% @temp = [] %>
                        <% else %>
                          <%@temp = [["Shree Ji Consultancy City Center Gwalior MP, Gwalior, Madhya Pradesh, India", 26.206038, 78.1900252]] %>
                        <% end %>  
                        
                        <% @store_locations.each_with_index do |store,index| %>
                          <li class="seller-item" id="store_<%= store.id %>" data-id="<%= store.id %>">
                            <a>
                              <div class="orange-number">
                                <%= index+1 %>
                                <div class="down-arrow"></div>
                              </div>
                              <%= store.store_location.address1 %>
                            </a>
                            <% a = [] %> 
                            <% a << store.store_location.address1 %>
                            <% a << store.store_location.latitude %>
                            <% a << store.store_location.longitude %>
                            <% @temp << a %>
                          </li>
                          <li class="seller-item-selected" id="select_<%= store.id %>" data-id="<%= store.id %>" style="display: none;">
                            <div class="close-btn">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            <div class="orange-number">
                              6
                              <div class="down-arrow"></div>
                            </div>
                            <p class="seller-branch-details"><%=store.store_location.name%> seller 1 </p>
                            <p class="seller-branch-details"><%= store.store_location.name %></p>
                            <p class="seller-branch-details"><%= store.store_location.address2 %></p>
                            <p class="seller-branch-details">95403-3115</p>
                            <p class="seller-branch-details"><%= store.store_location.email.first %></p>
                            <p class="seller-branch-timing">
                              <b>Mon - Sun</b>
                              <br />
                              <b>Open 24hrs</b>
                            </p>
                            </a>
                            <h1>
                          </li>
                          <% end %>
                          <h3><%= @message %></h3>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="col-md-12 deal-list">
          <div class="cartshare-btn" style="top:0px;text-align:right;">
            <span>Share : </span>
            <button class="align-left"><i class="fa fa-facebook" aria-hidden="true"></i></button>
            <button class="align-left"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
            <button class="align-right"><i class="fa fa-twitter" aria-hidden="true"></i></button>
          </div>
          <!-- Blog Categories Well -->
          <div class="well deal-type" style="box-shadow:none;border:none;margin-top:35px;">
            <div class="row">
              <h3>Specification: </h3>
              <div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom:1px solid #eee;">
                <div class="row">
                  <div style="overflow:auto;height:150px;margin-bottom:10px;">
                    <ul>
                      <li>Coupons valid on selected store</li>
                      <li>Coupon can be redem once only</li>
                      <li>Limited period offer</li>
                      <li>Buy & Get 500 Flat off</li>
                      <li>Coupons valid on selected store</li>
                      <li>Coupon can be redem once only</li>
                      <li>Limited period offer</li>
                      <li>Buy & Get 500 Flat off</li>
                      <li>Coupons valid on selected store</li>
                      <li>Coupon can be redem once only</li>
                      <li>Limited period offer</li>
                      <li>Buy & Get 500 Flat off</li>
                    </ul>
                  </div>
                </div>
              </div>
               <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <h3>Gift Description:</h3>
                  <div style="overflow:auto;height:100px;">
                    <p><%= @product.giveaway_description %></p>
                  </div>  
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <h3>Terms & Condition: </h3>
                  <div style="overflow:auto;height:100px;">
                    <ul>
                      <% @product.terms_conditions.split('.').reject(&:blank?).each do |term|  %>
                        <li><%= term %></li>
                      <% end %>  
                    </ul>
                  </div>  
                </div>
              </div>
              <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- Side Widget Well -->
        </div>
      </div>
      <div class="col-md-8 col-md-offset-4 col-sm-8 col-md-offset-4 col-xs-12">
      <div id="map_wrapper">
        <div id="map_canvas" class="mapping">
      </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  #map_wrapper {
    height: 400px;
  }

  #map_canvas {
      width: 100%;
      height: 100%;
  }
</style>

<script type="text/javascript">
jQuery(function($) {
      // Asynchronously Load the map API 
      var script = document.createElement('script');
      script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDUpAyNtPcUNgPIXtUiJtUFXa2UZu4jI94&libraries=places&callback=initialize";
      document.body.appendChild(script);

  });
  var markers = <%= raw @temp %>
  function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = <%= raw @temp%>
                        
    // Info Window Content
    var infoWindowContent = <%= raw @temp %> 
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(5);
        google.maps.event.removeListener(boundsListener);
    });
    
}
</script>




<script type="text/javascript">
  $(document).ready(function(){
    $('.seller-item').click(function(){
      id = 'select_' + $(this).data('id');
      $(this).hide();
      $('#'+id).show();    
    })

    $('.seller-item-selected').click(function(){
      id = 'store_' + $(this).data('id');
      $(this).hide();
      $('#'+id).show();
    })

    $("select").change(function(){
      $(this).find("option:selected").each(function(){
          if($(this).attr("value")=="red"){
              $(".box").not(".red").hide();
              $(".red").show();
          }

          else if($(this).attr("value")=="green"){
              $(".box").not(".green").hide();
              $(".green").show();
          }

          else if($(this).attr("value")=="blue"){
              $(".box").not(".blue").hide();
              $(".blue").show();
          }
          else{
              $(".box").hide();
          }
        });

    }).change();
  });
</script>
<style type="text/css">
/* body,html{
            font-family: 'Roboto', sans-serif;
        } */

body,
html {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
}
.product-container {
    margin-bottom: 20px;
}
.product-container a {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.product-container a img {
    width: 100%;
}
.product-container:hover .product-title {
    visibility: visible;
    opacity: 1;
}
.product-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    overflow-wrap: break-word;
    overflow: hidden;
}
.product-title-name {
    color: #fff;
    font-size: 16px;
    text-align: left;
    margin: 0px;
    height: 45px;
    /*text-overflow: ellipsis;
            white-space: nowrap;*/
}
.product-container.product-container-2 .product-title {
    visibility: visible;
    opacity: 1;
    background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
    background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
    width: 100% !important;
    text-shadow: 0 2px 1em #000000 !important;
    padding-top: 8px !important;
}
.product-container.product-container-3.product-container-2n:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}
.product-container.product-container-3.product-container-2n img {
    opacity: 0.7;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.product-container.product-container-3:hover img {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}
.product-discount-price {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #EA4545;
    width: auto;
    font-weight: bold;
}
.product-container.product-container-3:hover img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.product-container.product-container-3 .cartshare-btn {
    position: relative;
    margin-top: 5px;
    display: block;
}
.product-container.product-container-3 .cartshare-btn.half-div {
    width: 50%;
    float: left;
}
.product-container.product-container-3 .half-price {
    width: 50%;
    float: left;
    margin-top: 10px;
}
.product-container.product-container-3 .product-title {
    visibility: visible;
    opacity: 1;
    position: relative;
    padding: 10px 10px 10px 0px;
    background-color: transparent;
}
.product-container.product-container-3 .product-title .product-title-name {
    color: #010101;
}
.deal-list {
    background-color: #fff;
}
.deal-type,
.discount {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-bottom: 0px;
}
.deal-type .dealtype-full {
    border: 5px solid #f7f7f7;
}
.deal-list .deal-list-li {
    border-bottom: 4px solid #f7f7f7;
}
.deal-list .deal-list-li:nth-child(3) {
    border-bottom: none;
}
.deal-list .deal-list-title {
    color: #010101;
    font-size: 16px;
    font-family: 'Raleway';
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
}
.deal-list .deal-list-title {
    color: #010101;
    font-size: 16px;
    font-family: 'Raleway';
    margin: 10px 0px;
}
.deal-list .location-item {
    width: 50%;
    min-width: 225px;
}
.deal-list .item a {
    color: #888888;
    font-size: 14px;
    font-family: 'Raleway';
}
.deal-list .item .item-available {
    color: #010101;
    font-size: 12px;
    font-family: 'Raleway';
}
.deal-list .item a.btn {
    padding-top: 0px;
    padding-left: 0px;
    font-weight: 700;
}
.deal-list .item:hover a {
    color: #010101;
}
.thumbnail {
    position: relative;
    overflow: hidden;
}
.sale-div {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #8e8d8d;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    transform: 0.3 ease;
}
.cartshare-btn {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 70%;
    right: 0px;
    left: 0;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    transform: 0.3 ease;
}
.cartshare-btn button {
    border: 1px solid #ccc;
    color: #888;
    background-color: #fff;
}
.cart-div .descr-div {
    padding: 5px 0px 2px;
}
.cart-div .descr-txt {
    color: #999;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    max-height: 40px;
    margin-bottom: 0px;
}
.thumb-pad2 {
    box-shadow: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 7px 17px 0 rgba(255, 255, 255, 1);
    border: solid 1px transparent;
}
.cart-div:hover .thumb-pad2 {
    box-shadow: 1px solid #eee;
    z-index: 50;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
    border: solid 0.9px #f3f3f3;
}
.thumb-pad2 .thumbnail .caption {
    padding: 0px 10px;
}
.cart-div {
    padding: 0px;
    margin: 15px 0px;
}
.cart-div .product-price {
    text-align: center;
    font-weight: 700;
    margin: 0px;
}
.cart-div .product-price .money {
    color: #EA4545;
    font: 500 14px/1.75;
}
.cart-div .product-price s,
.cart-div .product-price s .money {
    color: #848484;
}
#product-carousel {
    padding: 10px 15px;
    /*background-color: rgba(255, 255, 255, 0.9);
            border:1px solid rgba(235, 235, 235, 0.9);*/
}
#product-carousel .carousel-control.left {
    left: 15px;
    top: 10px;
    bottom: 10px;
}
#product-carousel .carousel-control.right {
    top: 10px;
    bottom: 10px;
    right: 15px;
}
#product-carousel .carousel-inner > .item > img {
    width: 100%;
}
.item-title-desc .item-title {
    margin-bottom: 0px;
    font-size: 24px;
}
.item-title-desc .item-subtitle {
    color: #888;
    font-size: 14px;
}
.item-detail-descr .accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
}
.item-detail-descr .accordion-opened .accordion-toggle:after {
    content: "\f054";
}
.item-detail-descr .list-group-item-heading {
    color: #EA4545;
    font-size: 24px;
}
.item-detail-descr .accordion-heading .list-group-item-heading {
    color: #888;
    font-size: 20px;
}
.item-detail-descr .accordion-heading {
    padding: 5px 0px;
    border-bottom: 1px solid #f2f2f2;
}
.item-detail-descr .deal-descr {
    color: #191919;
    font-size: 14px;
}
.item-detail-descr .list-group-item {
    border-bottom: 1px solid #f2f2f2;
    display: block;
}
.select-qty .btn {
    padding: 5px 8px;
}
.b-txt {
    color: #888888;
    font-size: 16px;
}
.sold_by {
    color: #000;
    font: 600 21px/31px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
}
.offer-detail {
    color: #000;
    /*font-size: 18px;*/
    
    font: 600 21px/31px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
}
.pricing-detail {
    color: #000;
    font: 600 21px/31px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
}
.seller-title {
    margin: 5px 0px;
    color: #888;
    color: #000;
    font: 600 21px/31px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.seller-list {
    height: 200px;
    overflow: auto;
}
.seller-list ul {
    list-style: none;
    padding: 0px;
}
.seller-list li {
    position: relative;
    padding: 5px 0px 5px 40px;
}
.seller-list li a {
    color: #888888;
}
.seller-list .down-arrow::before {
    position: absolute;
    top: auto;
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-right: 0.2em solid orange;
    border-top: 0.2em solid orange;
    transform: rotate(140deg);
    margin-right: 0.5em;
    bottom: -2px;
    background-color: orange;
}
.seller-list .orange-number {
    background-color: orange;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 5px;
    top: 5px;
}
.seller-list .seller-branch-details {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 18px;
}
.seller-list .seller-branch-timing {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 18px;
}
.seller-item-selected .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}
       
</style>