<div class="content" style="margin-top:70px;">
<div class="thumb-box3">
  <div class="container">
    <h2></h2>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="col-md-12 deal-list">
          <!-- Blog Categories Well -->
          <div class="well deal-type">
            <div class="row">
              <div class="col-lg-12 dealtype-full">
                <ul class="list-unstyled">
                  <!-- <div class="deal-list-li">
                    <li class="deal-list-title">Deal Type</li>
                    <li class="item"><a href="#">Discounts <span class="item-available"> (1203)</span></a>
                    </li>
                    <li class="item"><a href="#">Giveaways <span class="item-available"> (1203)</span></a>
                    </li> 
                    </div> -->

                  <div class="deal-list-li">
                    <li class="deal-list-title">Deal Type</li>
                    <% %w(discounts giveaways).each_with_index do |deal_type, index| %>
                      <li class="item">
                        <div class="checkbox checkbox-inline checkbox-primary">
                          <a href="<%= update_url('deal_type', deal_type) %>">
                            <label class="checkbox select_filter" for='deal_type_<%= index %>' >
                              <% if this_filter_is_checked?('deal_type', deal_type) %>
                                <input type="checkbox" id="deal_type_<%= index %>" checked>
                              <% else %>
                                <input type="checkbox" id="deal_type_<%= index %>">
                              <% end %>
                              <%= deal_type.capitalize %>
                              <span class="item-available"> (<%= total_offer deal_type %>)</span>
                            </label>
                          </a>
                        </div>
                      </li>
                    <% end %>
                  </div>
                  <div class="deal-list-li">
                    <li class="deal-list-title">Select Category</li>
                    <% Spree::Taxon.all.each do |category| %>
                      <li class="item"><a href="<%= update_url_single_parameter('category_type',category.name)%>" id="cate" data-index="<%=category.name%>"><%= category.name %> <span class="item-available"> (<%=category.products.count %>)</span></a>
                      </li>
                    <% end %>
                  </div>
                  <div class="deal-list-li">
                    <li class="deal-list-title">Price Range</li>
                    <li class="item location-item">
                      <div class="example" style="margin-top:50px;">
                        <%= form_tag(update_range) do %>
                          <%= text_field_tag 'range' %>
                          <%= submit_tag "Go"%>
                        <% end %>
                      </div>
                    </li>
                  </div>
                  <div class="deal-list-li">
                    <li class="deal-list-title">Discount Range</li>
                    <% ['0..10', '10..20', '20..30', '30..40', '40..50', '50..100'].each_with_index do |discount,index| %>
                      <li class="item">
                        <div class="checkbox checkbox-inline checkbox-primary">
                          <a href="<%= update_url('discount', discount) %>">
                            <label class="checkbox select_filter" for='discount_<%= index %>' >
                              <% if this_filter_is_checked?('discount', discount) %>
                                <input type="checkbox" id="discount_<%= index %>" checked>
                              <% else %>
                                <input type="checkbox" id="discount_<%= index %>">
                              <% end %>
                              <%= (discount == '50..100' ? '50 or more' : discount) %>%
                            </label>
                          </a>
                        </div>
                      </li>
                    <% end %>
                  </div>

                  <div class="deal-list-li">
                    <li class="deal-list-title">Seller</li>
                    <li class="item location-item">
                      <input type="text" class="form-control" placeholder="Search by seller">
                    </li>
                  </div>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- Side Widget Well -->
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom:1px solid #ccc;padding-left:0px;padding-right:0px;">
          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
            <button type = "button" class ="btn btn-danger"><i class="fa fa-th-large" aria-hidden="true"></i></button>
            <button type = "button" class ="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i></button>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <form class="form-inline" style="float:right;margin-bottom:5px;">
              <div class="form-group">
                <label for="email">Sort By</label>
                <%= select_tag(:option, options_for_select([['All','all'],['Newest','newest'],['Oldest','oldest'],['AtoZ','atoz'], ['Price','price'],['Nearest Location','nearest/location']],   :selected => params[:sort_by])) %>
              </div>
            </form>
          </div>
        </div>
        <h3><%= params[:id] %></h3>
        <div class="row">
        <% if  @product_offer_list.present? %>
          <% @product_offer_list.each do |product| %>
            <% master_price =  product.price.to_f  %>
            <% sell_price = Spree::Variant.where(product_id:product.id).first.sale_price.to_f %>
            <% give_values = product.giveaway_value.to_f %>
            <% save = master_price - sell_price + give_values %>
              <div class="col-lg-4 col-md-4 col-sm-6 new-rec ttd-div">
                <div class="thumb-pad2">
                  <div class="thumbnail">
                    <div class="row">
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <figure>
                          <% image = product.images.first %>
                          <%= link_to image_tag(image.attachment.url(:product)), product_path(product) %>
                        </figure>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="row">
                          <div class="caption new-caption cartshare_<%=product.id %>">
                            <div class="sale-div">
                              <b>SAVE</b>
                              <br /><%=save.round(2)%>/=
                            </div>
                          
                            <div class="sale-div">
                              <i class="fa fa-share-alt share1" aria-hidden="true"  data-name="<%= product.name%>" data-desc="<%= product.description %>"></i>
                            </div>
                            
                            <div class="sale-div" style="background-color:#ed292d;border-color:#ed292d;">
                              <!-- <i class="fa fa-shopping-cart" aria-hidden="true" ></i> -->
                            </div>
                            <% if spree_current_user.present? and  (spree_current_user.id == product.favorites.first.try(:user_id)) %>
                              <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                                <a href="javascript:void(0);"><i class="fa fa-heart fav like" aria-hidden="true" id="<%=product.id%>" ></i></a>
                              </div>
                            <% else %>
                               <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                                <a href="javascript:void(0);"><i class="fa fa-heart-o unlike" aria-hidden="true" id="<%=product.id%>" ></i></a>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="caption" style="padding:0px;">
                      <div class="clearfix"></div>
                      <p class="product-price">
                        <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now <%=sell_price%>/= ( Plus free <%=product.giveaway_name %> worth <%=product.giveaway_value %>/=)</span>
                        <span>|</span>
                        <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before <%= product.price %></span></s>
                      </p>
                      <div class="clearfix"></div>
                      <div class="product-description">
                        <p><%= product.name %> + <%=product.total_discount.to_i%>% off </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
          <% end %>
        <% else %>
          <h3>There is no product</h3>
        <% end %>   
        </div> 
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  
$(document).on("click",".unlike",function() {
  var user = "<%= spree_current_user.present? %>"  
  var fav_id = this.id
  if (user == "true"){
    $.ajax({
      url  : "/products/"+fav_id+"/favorite_a_product",
      Type : "get",
      data: {"product_id" :fav_id}
    })
  }
  else{
    alert("Please first login ...");
  }
});

$(document).on("click",".like",function() {
    var fav_id = this.id
    $.ajax({
      url  : "/products/"+fav_id+"/unfavorite_a_product",
      Type : "get",
      data: {"product_id" :fav_id}
    })
});


</script>
<!-- all filter js -->
<script type="text/javascript">
  
  $(document).on('change', '#option', function(){
    $.ajax({
      type: 'get',
      data: { url: "<%= raw request.url %>", data: { sort_by: $(this).val() } },
      url: "<%= get_filter_query_products_path %>",
      success: function(response){
        window.location = response.data
      }
    })
  });

  $(document).on('click','.select_filter',function(){
    window.location = $(this).parent().attr('href');
  });

  $(document).on("click",".share1",function(e) {    
    name = $(this).data('name')
    desc = $(this).data('desc')
    e.preventDefault();
    FB.ui(
    {
      method: 'feed',
      name: name,
      link: "spree.com",
      description: desc,
      message: ""
    });  
  });
</script>


