<div class="panel-heading">
  <h1 class="panel-title">
    <%= Spree.t(:add_message) %>
  </h1>
</div>
<div class="panel-body">
  <%= form_for [:admin, Spree::StockMovement.new], url: admin_stock_items_path do |f| %>
    <div data-hook="admin_stock_movements_form_fields" class="row">
      <div class="col-md-2">
        
        <div class="form-group">
          <%= f.field_container :product_id do %>
            <%= f.hidden_field :product_id, class: 'form-control', value: @product.id %>
          <% end %>
        </div>

         <div class="form-group">
          <%= f.field_container :stock_location do %>
            <input type="hidden" name="stock_location_id" value="<%= @stock_locations.first.id %>" />
          <% end %>
        </div>
        
      </div>
        
       <div class="col-md-5">
        <div class="form-group">
          <%= f.field_container :message do %>
            <%= f.label :message, Spree.t(:message) %>
             <%= f.text_area :message, class: 'form-control' %>
          <% end %>
        </div>
      </div>    


      <div class="col-md-5">
        <div class="form-group">
          <%= f.field_container :variant_id do %>
            <%= label_tag 'variant_id', Spree.t(:variant) %>
            <%= select_tag 'variant_id', options_from_collection_for_select(@variants, :id, :sku_and_options_text),
              class: 'select2' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-actions text-center" data-hook="buttons">
      <%= button Spree.t(:add_message), 'plus' %>
    </div>
  <% end %>
</div>

<% if @product.stock_movements.any? %>
  <table class="table" id='listing_store_locations' data-hook>
    <thead>
      <tr data-hook="store_locations_header">
        <th><%= Spree.t(:message) %></th>
        <th><%#= Spree.t(:address) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @product.stock_movements.reject(&:store_location_id).each do |stock| %>
      <tr data-hook="store_location_row">
        <td><%= stock.message %></span></td>
        <td><%#= stock.try(:store_location).try(:address1) %></span></td>
        <td class="actions actions-2 text-center">  
          <%= link_to "Remove",delete_location_admin_stock_movement_path(stock.id), method: :put, data: {confirm: "You sure?"},class: "btn btn-danger btn-sm"  %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
   <p>No Message</p> 
  </div>
<% end %>




<style type="text/css">
  #stock_movement_store_location_id{
    height: 38px;
    line-height: 2.2;
    border-color: #e0e0e0;
    background-image: none;
    background-color: #fff;
  }
  .translation_missing{
        text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: #555555;
    font-weight: 500;

  }
</style>
<script type="text/javascript">
var showChar = 5;
var ellipsestext = "...";
var moretext = "See More";
var lesstext = "See Less";
$('.comments-space').each(function () {
    var content = $(this).html();
    if (content.length > showChar) {
        var show_content = content.substr(0, showChar);
        var hide_content = content.substr(showChar, content.length - showChar);
        var html = show_content + '<span class="moreelipses">' + ellipsestext + '</span><span class="remaining-content"><span>' + hide_content + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
        $(this).html(html);
    }
});

$(".morelink").click(function () {
    if ($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
    } else {
        $(this).addClass("less");
        $(this).html(lesstext);
    }
    $(this).parent().prev().toggle();
    $(this).prev().toggle();
    return false;
});
</script>