<% content_for :page_title do %>
  <%= Spree.t(:gift) %>
<% end %>

<%= render partial: 'spree/admin/shared/product_tabs', locals: {current: :gift} %>


<%= form_for [:admin, @product], method: :patch do |f| %>
  <div data-hook="value">

    <%= f.label :giveaway_status %>
    <%= f.check_box :giveaway_status %><br>
    
    <%= f.label :giveaway_name %>
    <%=f.text_field :giveaway_name, class: "form-control" %>

    <%= f.label :giveaway_description %>
    <%=f.text_area :giveaway_description, class: "form-control" %>

    <%= f.label :giveaway_value %>
    <%=f.text_field :giveaway_value, class: "form-control", id:"giveaway_value" %>

    <%= f.hidden_field :total_discount, :id=>"sum" %>
    <%= f.submit 'Gift' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
  sum();
  $("#giveaway_value").on("keydown keyup", function() {
    
    sum();
  });
});

function sum() {
  var master_price = '<%= @product.price.to_f %>';
  var sale_price = '<%= Spree::Variant.where(product_id:@product.id).first.sale_price.to_f %>';
  var gift_value = document.getElementById('giveaway_value').value;

  var result = parseFloat(master_price) - parseFloat(sale_price) + parseFloat(gift_value);
    var total_discount = (result*100)/master_price
    if (!isNaN(total_discount)) {
      document.getElementById('sum').value = total_discount.toFixed(2);
    }
  }

</script>
