<div class="content" style="margin-top:70px;">
<div class="thumb-box3">
  <div class="container">
    <h2></h2>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
        <% if spree_current_user.product_favorites.present? %>
          <% spree_current_user.product_favorites.each do |product| %>
          <% product = product.product %>
            <% calculation_price product %>
            <% product.seller_id.split(",").delete_if(&:blank?).each do |seller| %>
              <div class="col-lg-3 col-md-3 col-sm-6 new-rec ttd-div">
                <div class="thumb-pad2">
                  <div class="thumbnail">
                    <div class="row">
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <figure>
                        <% if product.images.first.present?  %>
                          <% image = product.images.first %>
                          <%= link_to image_tag(image.attachment.url(:product)),product_detail_product_path(product.id,pdt:seller) %>
                        <% else %>
                          <%=link_to image_tag('missing.png'),product_detail_product_path(product.id,pdt:seller) %>
                        <% end %>  
                        </figure>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="row">
                          <div class="caption new-caption cartshare_<%=product.id %>">
                            <div class="sale-div">
                              <b>SAVE</b>
                              <br /><%=@save.to_i%>/=
                            </div>
                          
                            <div class="sale-div">
                              <a href="javascript:void(0);"><i class="fa fa-share-alt share1" aria-hidden="true"  data-name="<%= product.name%>" data-desc="<%= product.description %>"></i></a>
                            </div>
                            <% if spree_current_user.present? and (product.favorites.where(user_id:spree_current_user.id).present?) %>
                              <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                                <a href="javascript:void(0);"><i class="fa fa-heart fav like" aria-hidden="true" id="<%=product.id%>" ></i></a>
                              </div>
                            <% else %>
                               <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                                <a href="javascript:void(0);"><i class="fa fa-heart-o unlike" aria-hidden="true" id="<%=product.id%>" ></i></a>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="caption" style="padding:0px;">
                      <div class="clearfix"></div>
                      <p class="product-price">
                        <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now <%=@sale_price%>/= ( Plus free <%=product.giveaway_name %> worth <%=product.giveaway_value.to_i %>/=)</span>
                        <span>|</span>
                        <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before <%= product.price %></span></s>
                      </p>
                      <div class="clearfix"></div>
                      <div class="product-description">
                        <p><%= product.name %> + <%=product.total_discount.to_i%>% off </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>    
          <% end %>
        <% else %>
          <h3>There is no product</h3>
        <% end %>   
        </div> 
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  
$(document).on("click",".unlike",function() {
    var fav_id = this.id
    $.ajax({
      url  : "/products/"+fav_id+"/favorite_a_product",
      Type : "get",
      data: {"product_id" :fav_id}
    })
});

$(document).on("click",".like",function() {
    var fav_id = this.id
    $.ajax({
      url  : "/products/"+fav_id+"/unfavorite_a_product",
      Type : "get",
      data: {"product_id" :fav_id}
    })
});


$(document).on('click','.select_filter',function(){
  window.location = $(this).parent().attr('href');
});

$(document).on("click",".share1",function(e) {    
  name = $(this).data('name')
  desc = $(this).data('desc')
  e.preventDefault();
  FB.ui(
  {
    method: 'feed',
    name: name,
    link: "spree.com",
    description: desc,
    message: ""
  });  
});
</script>


