<% @top_ending_deals_products.first(4).each do |product| %>
  <% calculation_price product %>  
  <div class="col-lg-3 col-md-6 col-sm-6 new-rec ttd-div">
    <div class="thumb-pad2">
      <div class="thumbnail">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <figure>
              <% image = product.images.first %>
              <%= link_to image_tag(image.attachment.url(:product)), product_path(product) %>
            </figure>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="row">
              <div class="caption new-caption cartshare_<%=product.id %>">
                <div class="sale-div">
                  <b>SAVE</b>
                  <br />$<%=@save.round(2)%>
                  </p>
                </div>
                <div class="sale-div">
                  <i class="fa fa-share-alt share" aria-hidden="true"  data-name="<%= product.name%>" data-desc="<%= product.description %>"></i>
                </div>
                <div class="sale-div" style="background-color:#ed292d;border-color:#ed292d;">
                  <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
                </div>
               
                <% if product.favorites.present? %>
                <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                  <i class="fa fa-heart-o unlike" aria-hidden="true" id="<%=product.id%>" ></i>
                </div>
                <% else %>
                <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                  <i class="fa fa-heart fav like" aria-hidden="true" id="<%=product.id%>" ></i>
                </div>
                <% end %> 
              
              </div>
            </div>
          </div>
        </div>
        <div class="caption" style="padding:0px;">
          <div class="clearfix"></div>
          <p class="product-price">
            <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now $<%=@sale_price%></span>
            <span>|</span>
            <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before <%= product.price %></span></s>
          </p>
          <div class="clearfix"></div>
          <div class="product-description">
            <p><%= product.name %> + <%=product.total_discount.to_i%>% off </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= link_to "View All",product_offer_list_products_path, :class=>"view_all_btn btn-primary btn"  %>  