
<!-- STYLE FOR GOOGLE MAPS  -->
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #map {
        height: 100%;
    }
    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    /*#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 450px;
    }*/

    #pac-input:focus {
        border-color: #4d90fe;
    }

    .pac-container {
        font-family: Roboto;
        z-index: 10000 !important;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    .add-field{
      margin-bottom: 10px;
      position: relative;
      top: -16px;
      right: -175px;
    }
</style>


<%= link_to 'Invite & Earn', '/invite' %>

<div class="content indent">
  <div class="thumb-box">
    <div class="container">
      <h2><strong>Edit my account</strong></h2>

      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @personal_detail } %>
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @location_info } %>


      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tabs">
            <ul class="tab-links">

              <li <%= params[:action] == 'edit' ? 'class=active' : '' %>><a href="#tab1">1. Account Info</a></li>
              <li><a href="#tab2">2. Personal Info</a></li>
              <li><a href="#tab3">3. Location Data</a></li>
            </ul>

            <div class="tab-content">

              <!-- ACCOUNT INFO -->
              <div id="tab1" class="tab active">
                <div class="row">

                  <div class="col-lg-10 col-md-10 col-sm-10">

                    <%= form_for spree_current_user, :url => spree.user_path(@user), html: { id: 'contact-form', class: 'edit_account' }, :method => :put do |f| %>
                        <fieldset>

                          <%= hidden_field_tag :serialized_params %>


                          <div>
                            <div class="tab-form-lable"> Email Address </div>
                            <label class="email">

                              <!--<input type="text" name="name" placeholder="First Name" value="" data-constraints="@Required @Email" />-->
                              <%= f.text_field :email, :placeholder => Spree.t(:email) %>

                              <!--<span class="empty-message">*This field is required.</span>
                              <span class="error-message">*This is not a valid email.</span>-->
                            </label>
                          </div>

                          <div>
                            <div class="tab-form-lable"> Password </div>
                            <label class="email">
                              <%= f.password_field :password, :placeholder => Spree.t(:password) %>
                            </label>
                          </div>

                          <div>
                            <div class="tab-form-lable"> Password Confirmation</div>
                            <label class="email">
                              <%= f.password_field :password_confirmation, :placeholder => Spree.t(:confirm_password) %>
                            </label>
                          </div>
                          <div class="multi-field-wrapper">
                            <div class="multi-fields">
                              <div class="multi-field">
                                <div class="tab-form-lable"> Phone Number</div>
                                <label class="email">
                                  <input type="text" name="user[phone][]" placeholder="Phone" value="<%=@user.phone.last %>" >
                                </label> 
                              </div>
                            </div>
                            <span class="add-field"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span>
                          </div>

                          <div>
                            <div class="tab-form-lable">My Referral Code</div>
                            <label class="email">
                              <%= text_field_tag :referral_code, f.object.referral_code, readonly: true, style: 'color: red; font-weight: bold' %>
                            </label>
                          </div>

                          <div>
                            <div>Share via </div>
                            <label class="email">
                              <%= social_share_button_tag('', {url: referral_url_string}) %>
                            </label>
                          </div>


                        </fieldset>

                        <div class="btns">
                          <!--<a href="#" data-type="submit" class="btn-default btn4">Next</a>-->
                          <%= f.submit 'Next', class: "btn-default btn4" %>
                        </div>

                    <% end %>

                    <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->

                    <% unless spree_current_user.phone_verified %>

                        <%= link_to 'Send OTP to verify phone', '../verify_phone/send_otp', class: "btn", method: :post %>

                    <% end %>
                  </div>
                  <div class="modal fade response-message">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                          You message has been sent! We will be in touch soon.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PERSONAL INFO -->
              <div id="tab2" class="tab">
                <div class="row">

                  <div class="col-lg-10 col-md-10 col-sm-10">

                    <%= form_for @personal_detail, :url => spree.user_path(@user), html: { id: 'contact-form', class: 'edit_account' }, :method => :put do |f| %>
                        <fieldset>

                          <div>
                            <div class="tab-form-lable"> First Name</div>
                            <label class="email">

                              <!--<input type="text" name="name" placeholder="First Name" value="" data-constraints="@Required @Email" />-->
                              <%= f.text_field :first_name, placeholder: 'First Name' %>

                              <!--<span class="empty-message">*This field is required.</span>
                              <span class="error-message">*This is not a valid email.</span>-->
                            </label>
                          </div>

                          <div>
                            <div class="tab-form-lable"> Middle Name</div>
                            <label class="email">
                              <%= f.text_field :middle_name, placeholder: 'Middle Name' %>
                            </label>
                          </div>

                          <div>
                            <div class="tab-form-lable"> Last Name</div>
                            <label class="email">
                              <%= f.text_field :last_name, placeholder: 'Last Name' %>
                            </label>
                          </div>

                          <div>
                            <div class="tab-form-lable"> Date of Birth</div>
                            <label class="email">
                              <%= f.date_select :date_of_birth, :start_year => (Time.now.year - 100), :placeholder => Spree.t(:date_of_birth) %>
                            </label>
                          </div>

                          <div>
                            <div class="tab-form-lable"> National ID</div>
                            <label class="email">
                              <%= f.text_field :national_id, placeholder: 'National ID' %>
                            </label>
                          </div>

                        </fieldset>

                        <div class="btns">
                          <!--<a href="#" data-type="submit" class="btn-default btn4">Next</a>-->
                          <%= f.submit 'Next', class: "btn-default btn4" %>
                        </div>

                    <% end %>

                    <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->

                  </div>

                  <div class="modal fade response-message">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                          You message has been sent! We will be in touch soon.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- LOCATION INFO -->
              <div id="tab3" class="tab">
                <div class="row">

                  <div class="col-lg-10 col-md-10 col-sm-10">

                    <%= form_for @location_info, :url => spree.user_path(@user), html: { id: 'contact-form', class: 'edit_account' }, :method => :put do |f| %>
                        <fieldset>
                          <div>
                            <div class="tab-form-lable">Constituency</div>
                            <label class="email">

                              <!--<input type="text" name="name" placeholder="First Name" value="" data-constraints="@Required @Email" />-->
                              <%= f.text_field :constituency, placeholder: 'Constituency' %>

                              <!--<span class="empty-message">*This field is required.</span>
                              <span class="error-message">*This is not a valid email.</span>-->
                            </label>
                          </div>

                          <div>
                            <div class="tab-form-lable"> Location</div>
                            <label class="email">
                              <%#= f.text_field :address, placeholder: 'Enter Address', id: 'pac-input', class: 'controls' %>
                              <input id="pac-input" class="controls" type="text" placeholder="Enter a location" name="location_info[address]">
                              <div id="map" style='width: 100%; height: 400px;'></div>

                            </label>
                          </div>


                        </fieldset>

                        <%= f.hidden_field :address, value: f.object.address %>
                        <%= f.hidden_field :lat, value: f.object.lat %>
                        <%= f.hidden_field :lng, value: f.object.lng %>

                        <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
                        <div class="btns">
                          <!--<a href="#" data-type="submit" id='sbmt_info' class="btn-default btn4">Next</a>-->
                          <%= f.submit 'Submit', class: "btn-default btn4" %>
                        </div>


                    <% end %>


                  </div>


                  <div class="modal fade response-message">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                          You message has been sent! We will be in touch soon.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <section class="content_map">
    <div class="google-map-api">
      <div id="map-canvas" class="gmap"></div>
    </div>
  </section>
</div>



<script type="text/javascript">

  $(document).ready(function () {
      $('a[href="'+window.location.hash+'"]').trigger('click')
  })

    window.initMap = function() {

        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: {lat: 23.0225, lng: 72.5714},
            zoom: 17
        });

        google.maps.event.trigger(map, 'resize');

        // Place a draggable marker on the map
        var marker = new google.maps.Marker({
            position: {lat: 23.0225, lng: 72.5714},
            map: map,
            draggable: true,
            title: "Drag me!"
        });

        google.maps.event.addListener(marker, "click", function (event) {

            var latitude = event.latLng.lat();
            var longitude = event.latLng.lng();
            console.log(latitude + ', ' + longitude);
        });

        // google places Autocomplete code

        var input = /** @type {!HTMLInputElement} */(
                document.getElementById('pac-input'));

        var types = document.getElementById('type-selector');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }


            // values required to be stored in db
            console.log('Latitude '+place.geometry.location.lat().toString());
            console.log('Longitude '+place.geometry.location.lng().toString());
            console.log(place.formatted_address);

            $('#location_info_address').val(place.formatted_address);
            $('#location_info_lat').val(place.geometry.location.lat())
            $('#location_info_lng').val(place.geometry.location.lng())


            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }
            marker.setIcon(/** @type {google.maps.Icon} */({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
        });


    }
</script>

<script type="text/javascript">
    /*$('#sbmt_info').click(function(){
        var data1 = $('.edit_user :input, .new_personal_detail :input, .new_personal_detail select, .new_location_info :input').serialize()
        $('#serialized_params').val(data1)
        $('.edit_user').submit()
    })*/

    $('a[href="#tab3"]').click(function(e) {
        if (!(typeof google === 'object' && typeof google.maps === 'object')){
            $.getScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyDUpAyNtPcUNgPIXtUiJtUFXa2UZu4jI94&libraries=places&callback=initMap')
            $("input[name='location_info[address]']").val("<%=@location_info.address%>")
        }
    })
</script>



<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUpAyNtPcUNgPIXtUiJtUFXa2UZu4jI94&libraries=places&callback=initMap" async defer></script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUpAyNtPcUNgPIXtUiJtUFXa2UZu4jI94&libraries=places" async defer></script>-->

<script type="text/javascript">
$('.multi-field-wrapper').each(function() {
    var $wrapper = $('.multi-fields', this);
    $(".add-field", $(this)).click(function(e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
    });
    $('.multi-field .remove-field', $wrapper).click(function() {
        if ($('.multi-field', $wrapper).length > 1)
            $(this).parent('.multi-field').remove();
    });
});
</script>