<header>
  <div class="box">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <p class="title1">Free phone: <strong>800-2345-6789</strong></p>
          <p class="title2">Hours:  8am-8pm PST M-Th;   6am-3pm PST Fri</p>
        </div>
        <div class="col-lg-4 col-md-4">
          <% if spree_current_user %>
              <%= link_to Spree.t(:logout), spree.logout_path, class: 'btn-default btn1' %>
              <%= link_to Spree.t(:my_account), spree.edit_account_path, class: 'btn-default btn1' %>
              <%= link_to "Wallet #{number_to_currency(spree_current_user.wallet.wallet_balance)}",'javascript:void(0)', class: 'btn-default btn1' %>

          <% else %>
            <%= link_to 'Register', spree.signup_path, class: 'btn-default btn1' %>
            <%= link_to 'Sign In', spree.login_path, class: 'btn-default btn1' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="navbar-brand navbar-brand_">
      <%= link_to image_tag('logo.png'), spree.root_path %>
    </h1>
    <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
      <ul class="nav sf-menu clearfix">
        <li class="active"><a href="index.html">Home</a></li>
        <li class="sub-menu"><a href="index-1.html">About</a><span class="fa fa-angle-down"></span>
          <ul class="submenu">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Dolor sit amet</a><span class="fa fa-angle-right"></span>
              <ul class="submenu">
                <li><a href="#">Dolore ipsu</a></li>
                <li><a href="#">Consecte</a></li>
                <li><a href="#">Elit Conseq</a></li>
              </ul>
            </li>
            <li><a href="#">Conse ctetur</a></li>
            <li><a href="#">Adipisicing</a></li>
            <li><a href="#">Elit sed do</a></li>
            <li><a href="#">Eiusmod tempor</a></li>
            <li><a href="#">Incididunt ut labore</a></li>
            <li><a href="#">Et dolore magna</a></li>
          </ul>
        </li>
        <li><a href="index-2.html">Sell</a></li>
        <li><a href="index-3.html">Buy</a></li>
        <li><a href="index-4.html">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>


<%if spree_current_user && !spree_current_user.phone_verified %>
<div class="alert alert-warning">
  You haven't verified your phone number. <strong><%= link_to 'Click', spree.edit_account_path %></strong> to verify.
</div>

<% end %>