<section class="section-white" style="margin-top:70px;background-color:#fff;">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol> -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner banner-slider">
        <div class="item active">
          <img src="assets/banner2.jpg" alt="...">
          <!-- <div class="carousel-caption">
            <h2>Heading</h2>
            </div> -->
        </div>
        <div class="item">
          <img src="assets/banner1.jpg" alt="...">
          <!-- <div class="carousel-caption">
            <h2>Heading</h2>
            </div> -->
        </div>
        <div class="item">
          <img src="assets/banner2.jpg" alt="...">
          <!-- <div class="carousel-caption">
            <h2>Heading</h2>
            </div> -->
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</section>
<!--content-->
<div class="content">
  <div class="thumb-box3" style="padding-top:15px;">
    <div class="container">
    <%= link_to "View All",product_offer_list_product_path(:id=>"Todays trending deals"), :class=>"view_all_btn btn-primary btn view-button" %>   
      <h2>Todays trending deals</h2>
      <div class="row">
        <ul id="myList">
          <% @treding_deal_products.each do |product| %>
            <% calculation_price product %>
            <li> 
              <div class="col-lg-3 col-md-6 col-sm-6 new-rec ttd-div">
                <div class="thumb-pad2">
                  <div class="thumbnail">
                    <div class="row">
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <figure>
                        <% if product.images.first.present? %>
                          <% image = product.images.first %>
                          <%= link_to image_tag(image.attachment.url(:product)), product_path(product) %>
                        <% else %>
                          <%=link_to image_tag('missing.png'),product_path(product) %>
                        <% end %>
                        </figure>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="row">
                          <div class="caption new-caption cartshare_<%=product.id %>">
                            <div class="sale-div">
                              <b>SAVE</b>
                              <br />
                              <%=@save.to_i%>/=
                            </div>
                            <div class="sale-div">
                              <a href="javascript:void(0);"><i class="fa fa-share-alt share" aria-hidden="true"  data-name="<%= product.name%>" data-desc="<%= product.description %>"></i></a>
                            </div>
                            <%  %>
                            <% if spree_current_user.present? and  (spree_current_user.id == product.favorites.first.try(:user_id)) %>
                            <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                              <a href="javascript:void(0);"><i class="fa fa-heart fav like" aria-hidden="true" id="<%=product.id%>" ></i></a>
                            </div>
                            <% else %>
                            <div class="sale-div fav_lnk" style="background-color:#e85858;border-color:#e85858;">
                              <a href="javascript:void(0);"><i class="fa fa-heart-o unlike" aria-hidden="true" id="<%=product.id%>" ></i></a>
                            </div>
                            <% end %> 
                          
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="caption" style="padding:0px;">
                      <div class="clearfix"></div>
                      <p class="product-price">
                        <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now <%=@sale_price%>/= ( Plus free <%=product.giveaway_name %> worth <%=product.giveaway_value %>/=)</span>
                        <span>|</span>
                        <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before <%= product.price %></span></s>
                      </p>
                      <div class="clearfix"></div>
                      <div class="product-description">
                        <p><%= product.name %> + <%=product.total_discount.to_i%>% off </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>        
        <div class="clearfix"></div>
        <div id="loadMore">See More</div> 
         <%= link_to "View All",product_offer_list_product_path(:id=>"Deals ending soon"), :class=>"view_all_btn btn-primary btn view-button" %> 
        <h2>Deals ending soon </h2>
        <%= render 'spree/shared/deal_ending_soon' %>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
#myList li{ display:none;
    list-style: none;
}
#loadMore {
    color:red;
    cursor:pointer;
    padding-left: 90%;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
    display:none;
}
#showLess:hover {
    color:black;
}

</style>

<script type="text/javascript">
  $(document).ready(function () {
    size_li = $("#myList li").size();
    x=8;
    $('#myList li:lt('+x+')').show();
    $('#loadMore').click(function () {
      x=  size_li;
      $('#myList li:lt('+x+')').show();
      $('#showLess').show();
      if(x == size_li){
        $('#loadMore').hide();
      }
    });
  });
</script>

<script type="text/javascript">
$(document).on("click",".unlike",function() {
  var user = "<%= spree_current_user.present? %>"  
  var fav_id = this.id
  if (user == "true"){
    $.ajax({
      url  : "/products/"+fav_id+"/favorite_a_product",
      Type : "get",
      data: {"product_id" :fav_id}
    })
  }
  else{
    alert("Please first login...");
  }
});

$(document).on("click",".like",function() {
    var fav_id = this.id
    $.ajax({
      url  : "/products/"+fav_id+"/unfavorite_a_product",
      Type : "get",
      data: {"product_id" :fav_id}
    })
});

</script>
  
<script type="text/javascript">
  $(document).ready(function(){
    $('.share').click(function(e){
      var user = "<%= spree_current_user.present? %>"
      if (user == "true"){
        name = $(this).data('name')
        desc = $(this).data('desc')
        e.preventDefault();
        FB.ui(
        {
        method: 'feed',
        name: name,
        link: "spree.com",
        description: desc,
        message: ""
        });
      }
      else{
        alert("Please first login...");
      }
    });
  });
</script>
