<div class="content indent">
  <div class="thumb-box">
    <div class="container">
      <h2><strong>Sign</strong> in</h2>

      <%#= render :partial => 'spree/shared/error_messages', :locals => { :target => resource } %>

      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}", class:'alert alert-danger' if msg.is_a?(String) %>
      <%- end -%>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="tabs">
          <div class="tab-content">
            <div id="tab1" class="tab active">
              <div class="row">

                <div class="col-lg-10 col-md-10 col-sm-10">

                  <%= form_for Spree::User.new, :as => :spree_user, html: { id: 'contact-form' }, :url => spree.create_new_session_path do |f| %>

                      <div>
                        <div class="tab-form-lable">Email Address</div>
                        <label class="email">
                          <%= f.text_field :email, :placeholder => Spree.t(:email) %>
                        </label>
                      </div>

                      <div>
                        <div class="tab-form-lable">Password</div>
                        <label class="email">
                          <%= f.password_field :password, :placeholder => Spree.t(:password) %>
                        </label>
                      </div>


                      <div>

                          <%= f.check_box :remember_me, :tabindex => 3 %>
                          <%= f.label :remember_me, Spree.t(:remember_me) %>

                      </div>


                      <div class="btns">

                        <%= f.submit 'Submit', :class => 'btn-default btn4' %>
                      </div>


                  <% end %>

                  <div id="social-signin-links">
                    <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
                        <h4><%= Spree.t(:sign_in_through_one_of_these_services) %></h4>
                    <% end %>

                    <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
                        <%= link_to(content_tag(:i, '', class: "icon-spree-#{method.provider.to_url}-circled"),
                                    spree.spree_user_omniauth_authorize_url(provider: method.provider),
                                    id: method.provider.to_url,
                                    title: Spree.t(:sign_in_with, provider: method.provider)) if method.active %>
                    <% end %>
                  </div>


                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  /*  $(document).ready(function () {
        $('#sbmt_lnk').click(function (e) {
            $("#contact-form").submit();
        });
    })
*/

</script>