<div data-hook="admin_store_locations_form_fields col-md-6">
  <div class="row">
    <div class="col-md-6" data-hook="store_location_names">
      <div data-hook="store_location_name">
        <%= f.field_container :name, class: ['form-group']  do %>
          <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
          <%= f.text_field :name, class: 'form-control', required: true %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>


      <div class="multi-field-wrapper">
        <div class="multi-fields">
          <div class="multi-field">
            <div data-hook="store_location_phone" class="form-group">
              <label for="store_location_city">Email</label><span class="required">*</span><br>
               <input type="text" name="store_location[email][]" class="form-control">
            </div>
          </div>
        </div>
        <a href="javascript:void(0)" class="add-field"><i class="fa fa-plus-square-o" aria-hidden="true">Add Email</i></a>
      </div>

      <div class="form-group" data-hook="store_location_seller">
        <%= f.label :seller_id, Spree.t(:seller) %><span class="required">*</span><br />
        <span id="seller"><%= f.collection_select :seller_id, Spree::Seller.all, :id, :name, {}, { class: 'select2' } %></span>
      </div>


    </div>

    <div class="col-md-3" data-hook="store_location_status">
      <strong><%= Spree.t(:status) %></strong>
      <div class="checkbox" data-hook="store_location_active">
        <%= label_tag :active do %>
          <%= f.check_box :active %>
          <%= Spree.t(:active) %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="form-group" data-hook="store_location_address1">
    <%= f.label :address1, Spree.t(:street_address) %><span class="required">*</span><br />
    <%= f.text_field :address1, class: 'form-control', required: true %>
  </div>

  <div class="form-group" data-hook="store_location_address2">
    <%= f.label :address2, Spree.t(:street_address_2) %>
    <%= f.text_field :address2, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="store_location_country">
    <%= f.label :country_id, Spree.t(:country)+'/State' %><span class="required">*</span><br />
  
    <span id="country"><%= f.collection_select :country_id, available_countries, :id, :name, {}, { class: 'select2' } %></span>
  </div>

  <div class="form-group" data-hook="store_location_state">
    <% if f.object.country %>
      <%= f.label :state_id, Spree.t(:state) %><span class="required">*</span><br />
      <span id="state" class="region">
        <%= f.text_field :state_name, style: "#{f.object.country.states.empty? ? '' : 'display: none;'}", disabled: !f.object.country.states.empty?, class: 'state_name form-control' %>
        <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, { include_blank: true }, {class: 'select2', style: "#{f.object.country.states.empty? ? 'display: none;' : '' };", disabled: f.object.country.states.empty?} %>
      </span>
    <% end %>
  </div>

  <div class="form-group" data-hook="store_location_state">
    <%= f.label :constituency_id, Spree.t(:constituency) %><span class="required">*</span><br />
    <span id="constituency_area" class="region">
      <%= f.collection_select :constituency_id, f.object.country.states.sort, :id, :name, { include_blank: true }, {class: 'select2', style: "#{f.object.country.states.empty? ? 'display: none;' : '' };", disabled: f.object.country.states.empty?} %>
    </span>
  </div>


  <div class="form-group" data-hook="store_location_state">
    <%= f.label :location_id, Spree.t(:location) %><span class="required">*</span><br />
    <span id="location" class="region">
      <%= f.collection_select :location_id, f.object.country.states.sort, :id, :name, { include_blank: true }, {class: 'select2', style: "#{f.object.country.states.empty? ? 'display: none;' : '' };", disabled: f.object.country.states.empty?} %>
    </span>
  </div>

  <div class="form-group" data-hook="store_location_city">
    <%= f.label :city, Spree.t(:city) %><span class="required">*</span><br />
    <%= f.text_field :city, class: 'form-control', required: true %>
  </div>

  <div class="form-group" data-hook="store_location_zipcode">
    <%= f.label :zipcode, Spree.t(:zip) %><span class="required">*</span><br />
    <%= f.text_field :zipcode, class: 'form-control', required: true %>
  </div>

  

  <div class="multi-field-wrapper">
    <div class="multi-fields">
      <div class="multi-field">
        <div data-hook="store_location_phone" class="form-group">
          <label for="store_location_city">Phone</label><span class="required">*</span><br>
           <input type="text" name="store_location[phone][]" class="form-control">
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="add-field"><i class="fa fa-plus-square-o" aria-hidden="true">Add Phone</i></a>
  </div>


  
    




  <% if !params[:action].eql?('new') %>
    <%= hidden_field_tag :id, f.object.id%>
  <% end %>

</div>

<% content_for :head do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('span#country .select2').on('change', function() { update_state(''); });
      $('span#state .select2').on('change', function() { update_constituency(''); });
      $('span#constituency_area .select2').on('change', function() { update_location(''); });
    });
  <% end %>
<% end %>

<script type="text/javascript">
$('.multi-field-wrapper').each(function() {
    var $wrapper = $('.multi-fields', this);
    $(".add-field", $(this)).click(function(e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
    });
});
</script>
