<!--content-->
<div class="content">
    <%= render partial: 'spree/shared/homepage_main_image' %>

    <%= render partial: 'spree/shared/finished_auctions' %>

    <%= render partial: 'spree/shared/current_auctions' %>
  
    <%= render partial: 'spree/shared/how_it_works' %>
  
    <%= render partial: 'spree/shared/stellar_section' %>

    <%= render partial: 'spree/shared/homepage_static_info' %>
</div>