
  <div class="col-md-6">
    <h4> Seller information </h4>
    <%= f.field_container :email, class: ['form-group'] do %>

        <%= f.label :name, Spree.t(:name) %>
        <%= f.text_field :name, :class => 'form-control' %>
        <%= f.error_message_on :name %>

    <% end %>

    <%= f.field_container :email, class: ['form-group'] do %>

        <%= f.label :email, Spree.t(:email) %>
        <%= f.email_field :email, :class => 'form-control' %>
        <%= f.error_message_on :email %>

    <% end %>

        <%#= f.field_container :password, class: ['form-group'] do %>
            <%#= f.label :password, Spree.t(:password) %>
            <%#= f.password_field :password, :class => 'form-control' %>
            <%#= f.error_message_on :password %>
        <%# end %>

        <%#= f.field_container :email, class: ['form-group'] do %>
            <%#= f.label :password_confirmation, Spree.t(:confirm_password) %>
            <%#= f.password_field :password_confirmation, :class => 'form-control' %>
            <%#= f.error_message_on :password_confirmation %>

        <%# end %>


            <%= f.field_container :email, class: ['form-group'] do %>

        <%= f.label :phone, Spree.t(:phone) %>
        <%= f.phone_field :phone, :class => 'form-control' %>
        <% end %>

        <%= f.field_container :email, class: ['form-group'] do %>

        <%= f.label :phone_2, 'Phone 2' %>
        <%= f.phone_field :phone_2, :class => 'form-control' %>
        <%#= f.error_message_on :phone_2 %>

        <% end %>

    <div class="form-actions" data-hook="buttons">
      <%= button ((params[:action].eql?('new')) ? Spree.t('actions.create') : Spree.t('actions.update') ), 'ok', 'submit', {class: 'btn-success'} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), '/admin/sellers', :icon => 'remove' %>
    </div>

    <% if !params[:action].eql?('new') %>
        <%= hidden_field_tag :id, f.object.id %>
    <% end %>

  </div>



