<% content_for :page_title do %>
    <%= link_to Spree.t(:sellers), '/admin/sellers' %> /
    <%= Spree.t(:edit_seller) %>
<% end %>

<div data-hook="admin_seller_edit_form_header">
  <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @seller } %>
</div>

<div data-hook="admin_user_new_form">
  <div data-hook="admin_user_form_fields" class="row">


  <%= form_for [:admin, @seller], url: '/admin/sellers/update', method: :post do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div data-hook="admin_user_edit_form_buttons">
        <%#= render :partial => 'spree/admin/shared/new_resource_links' %>
      </div>
  <% end %>

  <%= form_for [:admin,  @address], url: '/admin/sellers/update', method: :post, html: {novalidate: true} do |f| %>
      <%= render :partial => 'address', :locals => { :f => f, seller_id: @seller.id } %>

      <div data-hook="admin_user_edit_form_buttons">
        <%#= render :partial => 'spree/admin/shared/new_resource_links' %>
      </div>
  <% end %>
  </div>
</div>
